<div class="container-fluid bg">
  <div class="topnav">
      <h1><a style="font-size: 40px; color:black ;" routerLink="/">System</a></h1>
      <a routerLink="/home">Home</a>
      <a routerLink="/gallary">Blog</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">ContactUs</a>

    </div>
</div>
<div class="container-fluid bg2">
  <div class="row">
      <div class="col-md-3">

      </div>

      <div class="col-md-6">
        
        <div class="card" style="width:400px;height: 250px;margin: 6px; ">
          <div class="card-body">
           
          <h5 class="makeCenter" style="text-align: center;">
             <span style="color:black;">List of Programming Languages</span> 
          </h5>
          <hr>
          <div class="u" style="text-align: center;font-size: larger;">
            <a class="item" href="#">  
            <div *ngFor="let lang of u_prog"
           [ngClass]= "{'active': u_prog[options]===lang}" 
                (click)="onClick(lang)" class="lLang" style="font-size: larger;">
                  {{lang}}
              
            </div>
          </a>
            </div>
            
      </div>
      </div>
      </div>

      <div class="col-md-3">

      </div>
  </div>
</div>
<app-child [title]="prog_title" 
   [details]="curr_info">
 </app-child> 

 
 <div class="container-fluid bg1">
  <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
        <div style="text-align: center;">
         <p>© COPYRIGHT 2021 <br><span style="color:yellow;"> Google.com</span>all Rights Reserved</p>
        </div>

     
</div>
<div class="col-md-3">

</div>
</div>
</div>